
<%= react_component('Header', text: 'Moviepalace') %>
<div class="container">
  <%= react_component('MainBox', props: [@reviews]) %>
  <%= react_component('ProfileBox', props: [current_user, @userReviews]) %>
</div>



<%= react_component('Footer') %>
