footer
  width 100%
  height 5vh
  background-color #FFF
  position absolute
  overflow hidden
  left: 0
  bottom: 0
  border-top 1px groove


.footerText
  color #92CC4A
  font-size 2vh
  margin-left 1vw
  margin-top 1vh