.header
  background-color #4DA04F
  min-height 5vh
  display: flex

.headerText
  color white
  font-size: 24px
  margin-left 10vw
  horiz-align: center
  margin-top 0.5vh

.searchField
  margin-left: 50vw
  horiz-align center
  display inline-block
  margin-top 0.8vh

#query
  width 200px
  height 3vh

