.header
  background-color #FFF
  min-height 5vh
  display: flex
  border-bottom 1px groove

.headerText
  color #92CC4A
  font-size: 24px
  margin-left 10vw
  horiz-align: center
  margin-top 0.5vh

.searchField
  margin-left: 20vw
  horiz-align center
  display inline-block
  margin-top 0.8vh

#query
  width 300px
  height 3vh

