.background
  margin 0
  padding 0
  min-width: 100vw
  min-height 100vh
  background-image url(splash.jpg)
  background-size cover
  -webkit-filter: blur(5px)
  z-index: 1;
  display: block;
  position: fixed;
  overflow: hidden



.content
  z-index: 9999;
  position: fixed;
  min-width 100vw
  min-height 100vh
  font-family "Open Sans"
  color #4A85E2

h1
    text-align center
    margin-top 34%
    margin-right auto
    margin-left auto
    width 200px

h2
  text-align center
  border 5px solid
  margin-right auto
  margin-left auto
  width 200px
  margin-top 1%

a
  text-decoration: none
  color #4A85E2