.profileBox
  display flex
  flex-direction column
  height 30vh
  width 20vw
  background-color #4DA04F
  margin-top 15vh
  margin-left 5vw
  float left

.circular
  width 50px
  height 50px
  border-radius 25px
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  margin-left 2vw
  margin-top 2vh

.profileName
  margin-left 1vw
  margin-top 3vh
  color white

.personalBox
  display flex
.infoBox
  display flex
  margin-bottom 5vh
  margin-left 2vw