.searchResponse
  display flex
  flex-direction column
  width 60%
  margin-top 5%
  margin-left 10%

.responseItem
  margin 0 0 10% 0
  padding 0



li
  list-style-type none

.responseItemContainer
  display flex
  flex-direction row

.responseInfo
  margin-left 5%
  width 100%

.responseDescription
  margin-left 5%


